.menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	justify-content: space-between;
	align-items: flex-start;
	font-family: "Verdana" , san-serif;
	font-size: 80%;
}
.title {
	background: rgb(57, 21, 2);
	color: rgb(215, 255, 255);
	padding: 20px;
	font-family: "Verdana" , san-serif;
	font-weight: 800;
	font-size: 300%;
}
body {
	background: rgb(215, 255, 255);
}

#menu-bar {	
	font-family: "Verdana" , san-serif;	
	display: flex;
	flex-direction: column;
}
.bar {
	display: flex;
	flex-direction: row;
	flex-align: flex-start;
	justify-content: flex-start;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: flex-start;
	font-family: "Verdana" , san-serif;
	font-weight: 400;
}


#article {	
	width: 70%;
	display: flex;
	flex-direction: column;
	padding: 0px 0px 10px 0px;
	font-family: "Verdana", san-serif;	
}
#article-header{
	font-weight: 700;
	font-size: 200%;
	padding: 0px 0px 30px 0px;
}

.article-item {	
	font-weight: 550;
	font-size: 100%;
	padding: 0px 0px 20px 0px;
}
input[type = submit]{
	background-color: rgb(164, 61, 66);
  	border: none;
  	color: rgb(215, 255, 255);
	padding: 10px 20px;
  	cursor: pointer;
}
textarea {
	font-family: "Verdana", sans-serif;
	font-weight: 200;
	border: none;
	padding: 5px 10px;
	background: rgb(164, 61, 66);
	color: rgb(215, 255, 255);
	cursor: text;
}
input[type = text], input[type=email] {
	font-family: "Verdana", san-serif;
	font-weight: 200;
	padding: 5px 10px;
	background: rgb(164, 61, 66);
	color: rgb(215, 255, 255);
	cursor: text;
}
.cb {
	padding: 0px 0px 20px 0px;
}
input[type =checkbox] {
	font-weight: 200;
}	
.social-media {
	width: 30%;
	display: flex;
	flex-direction: column;
	padding:0px 0px 5px 0px;
}
#media-header {
	font-weight: 700;
	font-size: 120%;
	padding: 0px 0px 10px 0px;
}
.media-icon {
	object-fit: cover;
	padding: 10px 0px 5px 0px;
	text-align: left;
}
.footer {
	font-family: "Verdana", san-serif;
	display: grid;
	justify-content: start;	
	padding: 10px 0px 10px 0px;	
	margin: 5px 3%;
}
#footer-title {
	font-size: 150%;
	font-weight: 600;
	padding: 0px 0px 10px 0px;
}
.footer-item {
	font-size: 100%;
	font-weight: 300;
	padding: 0px 0px 5px 0px;
	color: rgb(164, 61, 66);
}
